.topicos {
    background: var(--azul);
    text-align: center;
    padding: 1em 0;
}

.topicosTitulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}

.topicosLista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicosItem {
    margin: 1.5em 0.5em;
}

.topicosLink {
    color: var(--branco);
    padding: 1em 1.5em;
    background-color: var(--laranja);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    
    .topicos {
        height: 250px;
    }
    
    .topicosTitulo {
        font-size: 24px;
    }

    .topicosLista {
        height: 192px;
        margin: 0 2em;
    }

    .topicosLink {
        font-size: 24px;
        padding: 24px 32px;
    }

}

@media screen and (min-width: 1728px) {

    .topicos {
        padding: 2em 26em;
    }

    
}